# Owners (in alphabetical order)
# For Org level maintainers, refer to https://github.com/notaryproject/.github/blob/main/CODEOWNERS
* @gokarnm @JeyJeyGao @justincormack @niazfk @priteshbandi @rgnote @shizhMSFT @stevelasker @toddysm @Two-Hearts 