# Owners (in alphabetical order)
# For Org level maintainers, refer to https://github.com/notaryproject/.github/blob/main/CODEOWNERS
* @gokarnm @JeyJeyGao @niazfk @priteshbandi @rgnote @shizhMSFT @toddysm @Two-Hearts @vaninrao10 @yizha1